/* style.css */

/* Default light mode */
  :root {
    --bg-color: #c8d5dd;
    --text-color: #252e33;
    --button-bg: #e4e2de;
    --button-hover-bg: #fdfcfb;
    --button-text: #000;
    --button-border: none
    --background-image: url('https://img.icons8.com/?size=100&id=21888&format=png&color=000000')
}

  [data-theme="dark"] {
  --bg-color: #182128;           /* page background dark*/
  --text-color: #bdbcbc;         /* light text */
  --button-bg: #323335;          /* dark button */
  --button-hover-bg: #525050;    /* hover effect */
  --button-text: #dbe0e5;        /* button text light */
  --button-border: none;
  --background-image: url('https://img.icons8.com/?size=100&id=21888&format=png&color=FFFFFF')
  }
.counter button {
  border-radius: 100%;
  border: none;
  width: 30px;
  height: 30px;
}

.disabled button {
opacity: 0.6;
cursor: not-allowed;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
  font-family: 'Font Awesome 6 Free', sans-serif;
}
button {
  background-color: var(--button-bg);
  color: var(--button-text);
  border: var(--button-border);
  
}
button:hover {
  background-color: var(--button-hover-bg)
}
.toprightbuttons {
  display: flex;
  gap: 5px;
  position: fixed;
  top: 0px;
  right: 0px;
  text-align:center;
  padding: 5px;
  border: none;
  border-radius: 5px;
}
button#theme-toggle {
  background:none;
  font-size: 150%;
  cursor: pointer;
}
button#API {
  width: 30px;
  height: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  background-image: var(--background-image);
}

  .startsection {
    display: flex;
    flex-wrap: wrap;
  }
  .item {
    margin-top:30px;
    flex: 1 1 300px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    min-width: 300px; /* ensures items don’t shrink too small */
  }
  .item img {
    max-width: 100%;   /* image fits inside the flex item */
    height: auto;
  }
h1 {
  text-align: center;
}

p {
  text-align: inherit;
}
  