/* style.css */

/* Default light mode */
  :root {
    --bg-color: #c8d5dd;
    --text-color: #252e33;
    --button-bg: #e4e2de;
    --button-hover-bg: #fdfcfb;
    --button-text: #000000;
    --button-border: none;
    --themebutton-image: url('https://em-content.zobj.net/source/microsoft-3D-fluent/433/sun_2600-fe0f.png');
    --background-image: url('https://img.icons8.com/?size=100&id=21888&format=png&color=000000');
    --APIInput-bg: #ffffff;
    --APIInput-text: #000000;
    --APIInput-border-color: #6b6b6b;
    --Transition: background-color 0.8s, color 0.8s;
    --buttonimg: clamp(20px, 5vw, 50px);
    --sortbuttonasc: url("https://img.icons8.com/?size=100&id=f1fhADRkTrAU&format=png&color=000000");
    --sortbuttondesc: url("https://img.icons8.com/?size=100&id=69900&format=png&color=000000");
}

  [data-theme="dark"] {
  --bg-color: #182128;           /* page background dark*/
  --text-color: #bdbcbc;         /* light text */
  --button-bg: #323335;          /* dark button */
  --button-hover-bg: #525050;    /* hover effect */
  --button-text: #dbe0e5;        /* button text light */
  --button-border: none;
  --themebutton-image: url('https://em-content.zobj.net/source/microsoft-3D-fluent/433/crescent-moon_1f319.png');
  --background-image: url('https://img.icons8.com/?size=100&id=21888&format=png&color=FFFFFF');
  --APIInput-bg: #000000;
  --APIInput-text: #ffffff;
  --APIInput-border-color: #3d3d3d;
  --Transition: 0.8s;
  --sortbuttonasc: url("https://img.icons8.com/?size=100&id=f1fhADRkTrAU&format=png&color=FFFFFF");
  --sortbuttondesc: url("https://img.icons8.com/?size=100&id=69900&format=png&color=FFFFFF");
  }
.counter button {
  border-radius: 100%;
  border: none;
  width: 30px;
  height: 30px;
}

.disabled button {
opacity: 0.6;
cursor: not-allowed;
}
input{
  transition: var(--Transition)
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: var(--Transition);
  font-family: 'Font Awesome 6 Free', sans-serif;
}
button {
  background-color: var(--button-bg);
  color: var(--button-text);
  border: var(--button-border);
  transition: var(--Transition)
}
button:hover {
  background-color: var(--button-hover-bg)
}
p#wholebalance {
  background:fixed;
  background-color: var(--bg-color);
  transition: var(--Transition);
  z-index: 20;
  pointer-events: none;
}
.toprightbuttons {
  right:0;
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  z-index: 90;
  gap: 5px;
  top:0px;
  text-align:center;
  justify-content: right;
  align-items: center;
  width: min-content;
}
.toprightbuttons button{
  margin-top: 5px;
  width: var(--buttonimg);
  height: var(--buttonimg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  background-color: var(--bg-color);
  visibility: visible;
}
button#theme-toggle{
  background-image: var(--themebutton-image);
}
button#APIInfo {
  background-image: var(--background-image);
}
button#API {
  background-image: var(--background-image);
}
  .startsection {
    display: flex;
    flex-wrap: wrap;
  }
  .item {
    margin-top:10%;
    flex: 1 1 300px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    min-width: 30%; /* ensures items don’t shrink too small */
  }
  .item img {
    max-width: 100px;   /* image fits inside the flex item */
    height: 50px;
  }
h1 {
  text-align: center;
}

p {
  text-align: inherit;
}
.apiinput {
  z-index: 50;
  top: 0px;
  border-style: solid;
  border-radius: 1px;
  border-width: 2px;
  border-color: var(--APIInput-border-color);
  background-color: var(--APIInput-bg);
  color: var(--APIInput-text);
  position: relative;
  width: 40%;
  margin-left: 5%;
  padding: 1px 2px;
  box-sizing: border-box;
}
.confirmbutton {
  z-index: 50;
  top: 0px;
  border-style: solid;
  border-radius: 1px;
  border-width: 2px;
  border-color: var(--APIInput-border-color);
  background-color: var(--APIInput-border-color);
  color: var(--APIInput-text);
  position: relative;
  width: 40%;
  height: 10%;
  margin-left: 5%;
  padding: 1px 2px;
  box-sizing: border-box}

  #APINameInput::-webkit-outer-spin-button,
  #APINameInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
